h1{
	color: red;
	font-family: 'TimesNewRomanRegular';
}

.blogout{
	text-decoration: none;
	font-size: 20px;
}

.btn{
	width: 100px;
	height: 25px;
	font-size: 18px;
	border: 1px solid  black;
	border-radius: 14px 14px 3px 3px;
	background-color: orange;
	color: white;
	font-family: 'Roboto';
}

.reg{
	display: block;
	margin-top: 15px;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Roboto';
}

.returner{
	text-decoration: none;
	color: purple;
	font-size: 22px;
}